Django>=2.1.3,<2.2.0
djangorestframework>=3.10.0,<3.11.0
psycopg2>=2.7.5,<2.8.0
Pillow>=6.2.0,<6.2.2

# Tool that is used to run Python applications in production
# uWSGI>=2.0.18,<2.1
gunicorn==20.0.4

# OpenAPI
django-rest-swagger>=2.2.0,<2.3.0

flake8>=3.6.0,<3.7.0